<h1><%= @character.name %></h1>
<br />

<div class='container'>

  <div class='row'>

    <div class='active-job-panel col-xs-12 col-md-6 col-md-offset-1'>
      <h3 class='panel-header text-center'><%= @character.active_job_name %></h3>
      <%= image_tag @character.active_job_portrait, class: 'active-job-panel-portrait' %>
    </div>

    <div class='jobs-panel col-xs-12 col-md-4'>
      <h3 class='panel-header text-center'>Jobs</h3>
        <% @character.list_jobs.each do |job_level| %>
          <div class='job-name-column text-right col-md-4'>
            <%= "#{job_level[0]}:" %>
          </div>
          <div class='job-level-column col-md-1'>
            <%= "#{job_level[1]}" %>
          </div>
        <% end %>
        <!-- <%= simple_form_for @character do |f| %>
          <%= f.association :character_jobs, collection: CharacterJob.where(character_id: @character) %>
          <%= f.button :submit %>
        <% end %> -->
    </div>

  </div>

  <div class='row'>

    <div class='inventory-panel col-xs-12 col-md-6'>
      <h3 class='panel-header text-center'>Inventory</h3>
        <div class='item-type-column text-center col-md-4'>
          <% @character.list_inventory_types.each do |type| %>
            <%= link_to type, '#', class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class='item-info-column col-md-8'>
          <div id='consumables'>
            <% @character.list_consumables.each do |consumable| %>
              <div class='item-name-column text-right col-md-5'>
                <%= "#{consumable[0]}:" %>
              </div>
              <div class='item-quantity-column col-md-1'>
                <%= "#{consumable[1]}" %>
              </div>
            <% end %>
          </div>
        </div>
    </div>

  </div>

</div>
